/* Personalización de los botones */

sl-button.btn-edit::part(base){
    background-color: var(--color-primary);
    color: var(--color-primary-1);
    border: none;
}

sl-button.btn-delete::part(base){
    background-color: var(--color-red);
    color: var(--color-primary-1);
    border: none;
}


sl-button.btn.btn-disabled::part(base) {
    cursor: not-allowed;
    background-color: var(--color-gray-1);
    color: var(--color-gray);
    border: none;
}

sl-button.primary-button::part(base) {
    background-color: var(--color-secondary);
    color: var(--color-primary-2);
    font-weight: var(--font-weight-bold);
    padding: 0 15px;
    border: none;
}

sl-input.btn-mes::part(form-control) {
    width: 150px;
    margin-bottom: 20px;
}

div.btn-seleccion-mes__wrapper sl-button{
    display: flex;
    margin: 20px auto;
    width: fit-content;
}


.month-field__input {
  width: 100%;
  /* deja el input “invisible” pero clicable */
  opacity: 0;
  position: relative;
  z-index: 2;
  height: 40px;
}
.month-field__overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 8px;
  text-align: left;
  padding: 0 12px;
}