section.auth-home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: var(--color-white);
  border-radius: var(--sl-border-radius-large);
  box-shadow: var(--sl-shadow-large);
  background: radial-gradient(
    #3E8E40 0%, 
    #367C38 67%, 
    #337535 100%
    );
}

section.auth-home img {
  width: 335px;
  max-width: 100%;
  height: auto;
  align-self: center;
  margin-bottom: 40px;
}

section.auth-home sl-input::part(form-control-label) {
  color: var(--color-white);
  font-weight: var(--font-weight-medium);
}

section.auth-home sl-tab-group::part(base) {

}

section.auth-home sl-button::part(base) {
  background-color: var(--color-secondary);
  color: var(--color-primary-2);
  padding: 0 20px;
  margin: 20px auto;
}

section.auth-home sl-button::part(base):hover {
  background-color: var(--color-secondary-1);
}

section.auth-home sl-input::part(form-control) {
  margin-bottom: 20px;
  width: 335px;
}

section.auth-home form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.auth-home sl-tab::part(base) {
  color: var(--color-primary-1);
}

sl-tab-group {
  --indicator-color: var(--color-secondary);
  --track-color: var(--color-primary-2);
  --track-witdh: 100px;
}

sl-tab {
  width: 50%;
  text-align: center;
}

@media (max-width: 520px) {
  section.auth-home {
    padding: 20px;
  }
  section.auth-home img {
    width: 60vw;
  }

  section.auth-home sl-input::part(form-control) {
    margin-bottom: 20px;
    width: 85vw;
  }
}