.sidebar { 
	background: var(--color-primary); 
	height: 100%;
}

.sidebar a { 
	display: flex; 
	flex-direction: row;
	align-items: center;
	padding:8px 10px 8px 40px; 
	color: var(--color-primary-1);
	text-decoration:none;
	font-size: var(--font-size-md);
}

.sidebar .sidebar-title {
	display: flex;
	justify-content: center;
	padding: 40px;
	text-align: center;
}

.sidebar a.sidebar-title:hover {
	background-color: var(--color-primary);
}

.sidebar a:hover { 
	background: var(--color-secondary-1); 
	color: var(--color-primary);
}

.sidebar-nav {
	margin-top: 20px;
}

.sidebar a.sidebar-active {
	background: var(--color-secondary); 
	color: var(--color-primary-2);
	font-weight: var(--font-weight-bold);
}

.sidebar a sl-icon {
	margin-right: 12px;
	font-size: var(--font-size-lg);
}

.sidebar .logo-mobile {
	display: none;
}

.sidebar .logo-desktop {
	display: block;
}

.sidebar-footer {
	display: none;
}


@media (max-width: 768px) {
	.sidebar .logo-desktop {
		display: none;
	}

	.sidebar .sidebar-title.logo-mobile {
		display: block;
		width: 250px;
		position: absolute;
		top: 0;
		padding: 20px;
	}

	.sidebar-nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.sidebar a.sidebar-link {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: var(--font-size-2xl);
		margin: 20px 0;
		font-weight: 400;
		padding: 10px;
		height: 80px;
		width: 100%;
	}

	.sidebar-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid var(--color-primary-2);
		background: var(--color-primary-1);
	}   
	
	.sidebar-footer-user {
		display: flex;
		align-items: center;
		color: var(--color-primary-2);
		font-size: var(--font-size-md);
		padding: 10px 20px;
		margin: 0;
	}

	.sidebar-footer-user sl-icon {
		margin-right: 8px;
		font-size: var(--font-size-lg);
	}

	.sidebar-footer a.sidebar-footer-link {
		color: var(--color-primary-2);
	}

	.sidebar-footer a.sidebar-footer-link sl-icon {
		margin-right: 8px;
		font-size: var(--font-size-lg);
	}
}